<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Profile</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>

  <%- include('header') -%>
            <!-- <h1>Hi <%= locals.user.first_name %></h1> 
              <h3><%= locals.user.phone %></h3> -->
    <div class="profile">
      <div class="minibar">
        <ul class="list">
          <li><button type="button"  ><a class="home" href="/connector/sign-out">HOME <i class='fas fa-angle-right'></i></a></button></li>
          <li><button ><a class="home">USER PROFILE </a></button></li>
        </ul>
        
      </div>
      <center><div class="image">
        <div class="image1">
          <img src="/images/car.jpeg">
          <!-- <input id='fileid' type='file' hidden/>
          <input id='buttonid' type='button' class="upload" value='MB' /> -->
          <div class="choose_file">
            <button type="button" style="position: absolute; background:teal; padding :0.5rem 0.65rem; border-radius: 50%; padding-bottom: 0.5rem; border: solid 0.1rem white;"><i class="fa-solid fa-upload"></i></button>
            <input name="img" type="file" accept="image/*" />
        </div>
        </div>
        <h1 class="name"><%= locals.user.first_name[0].toUpperCase()  %><%= locals.user.first_name.slice(1,)  %> <%= locals.user.last_name[0].toUpperCase() %><%= locals.user.last_name.slice(1,) %></h1>
        <hr class="ala">
        <p class="paragraph">Complete your profile for the best results and ease up your application process</p>
      </div></center>
    </div>

    <center><button type="button" class="btn btn-info" id='minibar-btn'>
      <a href="/connector/file-insurance">File Insurance</a>
    </button></center>
      <div class="details" >
        <div class="dropdown3">Name<button><i class='fas fa-angle-down'></i></button>
          <li class="first-anchor"><a>Number of insured: <%= locals.user.insurers.length %></a>
            <% for(let i=0; i< insurers.length; i++){ %>
              <% for(let j=0; j<locals.insurers[i].insurers.length ; j++){%>
                
                <% if(JSON.stringify(locals.user._id) == JSON.stringify(insurers[i].insurers[j].connector)){ %>
                  <li><a>Name of Insured:-<%= insurers[i].insurers[j].nameOfInsured %></a>
                    <% } %>
                  </a>
                  <% } %>
                  <% } %>
                </div>
                
                <div class="dropdown2">Contact Information<button><i class='fas fa-angle-down'></i></button>
                  <li class="first-anchor"><a>Phone: <%= locals.user.phone %></a></li>
                  <% if(locals.user.email){ %>
                    <li><a>Email: <%= locals.user.email %></a>
                      <% } %>
                    </div>
                    
                    <div class="dropdown4">Insurance Done<button><i class='fas fa-angle-down'></i></button>
                      <li class="first-anchor"><a href="#">Link 1</a>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 2</a></li>
        </div>

        <div class="dropdown5">Payment Log<button><i class='fas fa-angle-down'></i></button>
            <li class="first-anchor"><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </div>

        <!-- <div class="dropdown6">Offers<button><i class='fas fa-angle-down'></i></button>
          <a href="#" class="first-anchor">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div> -->
      
    </div>

    <%- include('footer') -%>

    <script src="https://use.fortawesome.com/1ce05b4b.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>

</html>

